@model LanguageSchool.Command.Course.EditCourseCommand
@{
    ViewData["Title"] = "Edit";
}

<h2>Edytuj kurs</h2>

<form method="post">
    @Html.HiddenFor(x => x.Id)
    <div class="form-group">
        <label asp-for="Name">Nazwa</label>
        <input asp-for="Name" type="text" class="form-control">
        <span asp-validation-for="Name" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label asp-for="Year">Rok</label>
        <input asp-for="Year" type="number" class="form-control">
        <span asp-validation-for="Year"></span>
    </div>
    <div class="form-group">
        <label asp-for="TrainingTime">Czas trwania</label>
        <input asp-for="TrainingTime" type="number" class="form-control">
        <span asp-validation-for="TrainingTime" class="text-danger"></span>
    </div>
    <button type="submit" class="btn btn-outline-primary float-right">Zapisz</button>
</form>