@{
    ViewData["Title"] = "Home Page";
}

<main id="content" role="main">
    <section class="main-section d-flex align-items-center h-100 mb-4">
        <div class="container">
            <div class="jumbotron jumbotron-fluid">
                <div class="container text-white">
                    <h1>Szkoła Przyszłości</h1>
                    <h5> Z nami nie ma rzeczy nie możliwych </h5>
                </div>
            </div>
        </div>
    </section>
    <hr />
    <div class="container">
         <section class="pt-5 pb-5">
             <div class="row">
                 <div class="col-md-5">
                     <h4 class="text-center text-md-left pb-4">Welcome to Language School </h4>
                     <p class="text-center text-md-left">
                         Masz możliwość dołączenia do szkoły językowej w której jest 100% zdawalności egzaminów z certyfikatem.
                         Nauczysz się języka w zaledwie 30 dni.
                         Dołącz do nas, a my Ci to udowodnimy !!!
                     </p>
                 </div>
                 <div class="col-md-5 offset-md-2">
                     <img class="img-fluid" src="~/images/schody-motywacji.png"/>
                 </div>
             </div>
         </section>
         <hr />
    </div>
    <div class="container">
        <section class="pt-5 pb-5">
            <h4 class="text-center pb-4">Pierwsze kroki</h4>
            <p class="text-center text-md-left">
                W pierwszym kroku musisz wybrać jakego języku chcesz się nauczyć?
                Następnie zarejestrować się na naszej stronie.
                Kolejno my sie do Ciebie odezwiemy i Ci wszystko wytłumaczymy na czym to polega.
                Do usłyszenia!!!
            </p>
            <div class="card-container row">
                <div class="col-sm-6 col-lg-3 mb-3">
                    <div class="card">
                        <img src="~/images/mowienie-angielski.png" class="card-img-top img-fluid" alt="..." />
                        <div class="card-body">
                            <p class="card-text">Zaczniemy od tego co potrafisz.</p>
                        </div>
                    </div>
                </div>

                <div class="col-sm-6 col-lg-3 mb-3">
                    <div class="card">
                        <img src="~/images/poziom-angielski.png" class="card-img-top img-fluid" alt="..." />
                        <div class="card-body">
                            <p class="card-text">Przydzielimy do odpowiedniego poziomu.</p>
                        </div>
                    </div>
                </div>

                <div class="col-sm-6 col-lg-3 mb-3">
                    <div class="card">
                        <img src="~/images/nauka.jpg" class="card-img-top img-fluid" alt="..." />
                        <div class="card-body">
                            <p class="card-text">Pokierujemy na zdanie zakładanego poziomu.</p>
                        </div>
                    </div>
                </div>

                <div class="col-sm-6 col-lg-3 mb-3">
                    <div class="card">
                        <img src="~/images/exam-pass.jpg" class="card-img-top img-fluid" alt="..." />
                        <div class="card-body">
                            <p class="card-text">Na końcu sam się przekonasz jak łatwo było.</p>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <hr />
    </div>

</main>


